<!-- 侧边栏组件 -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <div class="sidebar-header">
            <h5>系统导航</h5>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-item active">
                <a href="/" class="menu-link">
                    <i class="bi bi-house"></i>
                    <span>标书生成</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="/knowledge_base" class="menu-link">
                    <i class="bi bi-collection"></i>
                    <span>知识库管理</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <i class="bi bi-gear"></i>
                    <span>系统设置</span>
                </a>
            </li>
        </ul>
    </div>
</div>